# Configurações do Banco de Dados MySQL (Hostinger)
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_SSL=false
JWT_SECRET=

# iFood Developer API (SaaS)
IFOOD_CLIENT_ID=
IFOOD_CLIENT_SECRET=

# Uber Eats Developer API (SaaS)
UBEREATS_CLIENT_ID=
UBEREATS_CLIENT_SECRET=

# Rappi Developer API (SaaS)
RAPPI_CLIENT_ID=
RAPPI_CLIENT_SECRET=

# 99Food Developer API (SaaS)
NINETYNINEFOOD_CLIENT_ID=
NINETYNINEFOOD_CLIENT_SECRET=

# Aiqfome Developer API (SaaS)
AIQFOME_CLIENT_ID=
AIQFOME_CLIENT_SECRET=

# Delivery Much Developer API (SaaS)
DELIVERYMUCH_CLIENT_ID=
DELIVERYMUCH_CLIENT_SECRET=

# Stripe Configuration (SaaS)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_BASICO_IFOOD=price_1TMaAyD8oc9026ObtrBOTmfW
STRIPE_PRICE_ID_BASICO_IFOOD_PRO=price_1TMaFlD8oc9026ObBtubxJ8V
STRIPE_PRICE_ID_ESSENCIAL=price_1TMynWD8oc9026Ob4avPRSe0
STRIPE_PRICE_ID_PROFISSIONAL=price_1TMaJ2D8oc9026ObbvBMk3Az
STRIPE_PRICE_ID_COMPLETO=price_1TMaLMD8oc9026Ob6pCL5osR

# Outras Configurações
VITE_ADMIN_WHATSAPP=5562994075417
